@font-face{
    font-family: Metropolis;
    src: url("./fonts/Metropolis-Bold.otf");
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
    --font-color:#333949;
    --font-blue:#0068D6;
    --font-light:#AAAAAA;
}

#header{
    padding:50px 0 100px;
}
.container{
    width:75%;
    margin:auto;
}
.navbar{
    position:relative;
    z-index:9;
}
.header_container{display:flex;justify-content: space-between;}
.navbar ul{display:flex;list-style-type: none;}
.navbar ul li{
    padding:10px 20px;
}
.navbar ul li a{
    color:var(--font-color);
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    font-family: Metropolis;

}
.start_title span{
    font-family: Metropolis;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.4em;
    color:var(--font-blue);
}
.container_start{
    display:flex;
}
.start_bg img{
    position:relative;
    top:-200px;
}
.start_title{
    max-width:800px;
    width:100%;
}
.start_title h1{
    font-family: Metropolis;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color:var(--font-color);
    margin-top: 20px;
}
.light span{
    font-family: Metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color:var(--font-light);
}
.light{
    margin:30px 0;
}
.start_btn{
    background: var(--font-blue);
    border-color:var(--font-blue);
    box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.06), 0px 2px 4px rgba(52, 60, 68, 0.2);
    border-radius: 5px;
    color:#fff;
    font-family: Metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding:18px 36px;
    cursor:pointer;
}
.works_container span{
    text-transform: uppercase;
    font-family: Metropolis;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0.4em;
    color:var(--font-blue);
}
body{
    background-image: url(image/bg2.jpg);
    background-size: cover;
    background-position: 50% 0;
    height:100%;
}
