@font-face{
    font-family: Metropolis;
    src: url("./fonts/Metropolis-Bold.otf");
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
    --font-color:#333949;
    --font-blue:#0068D6;
    --font-light:#AAAAAA;
}

#header{
    padding:50px 0 100px;
}
.container{
    width:75%;
    margin:auto;
}
.navbar{
    position:relative;
    z-index:9;
}
.header_container{display:flex;justify-content: space-between;}
.navbar ul{display:flex;list-style-type: none;}
.navbar ul li{
    padding:10px 20px;
}
.navbar ul li a{
    color:var(--font-color);
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    font-family: Metropolis;

}
.start_title span{
    font-family: Metropolis;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.4em;
    color:var(--font-blue);
}
.container_start{
    display:flex;
}
.start_bg img{
    position:relative;
    top:-200px;
}
.start_title{
    max-width:800px;
    width:100%;
}
.start_title h1{
    font-family: Metropolis;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color:var(--font-color);
    margin-top: 20px;
}
.light span{
    font-family: Metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color:var(--font-light);
}
.light{
    margin:30px 0;
}
.start_btn{
    background: var(--font-blue);
    border-color:var(--font-blue);
    box-shadow: 0px 0px 1px rgba(117, 131, 142, 0.06), 0px 2px 4px rgba(52, 60, 68, 0.2);
    border-radius: 5px;
    color:#fff;
    font-family: Metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding:18px 36px;
    cursor:pointer;
}
.works_title span{
    font-family: Metropolis;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0.4em;
    color:var(--font-blue);
    display:block;
}
.works_title h2{
    font-family: Metropolis;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color:var(--font-color);
    margin-top: 15px;
}
.works_product{
    display:flex;
    justify-content: space-between;
}
.number_col{
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
    width: 43px;
    height: 43px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:30px;
}
.col_title{
    display:flex;
    justify-content: center;
}
.works_product .col{
    width:300px;
}
.col_body{
    margin-top: 30px;
}
.col_body h3{
    font-family: Metropolis;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    color:var(--font-color);
}
.col_body p{
    font-family: Metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color:#AAAAAA;
    margin-top: 15px;
}















main{
    padding-bottom: 100px;
}